@media (max-width:900px){
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #tituloCabecera{
    width: 100%;
    text-align: center;
  }
  #menuCabecera{
    width: 100%;
    text-align: center;
  }
#principal{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.portada{
  width: 90%;
  margin: auto;
}
#secundario{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.imagenes2, .imagenes3{
  width: 100%;
  margin: auto;
}
}
  @media (max-width:900px){
    footer{
      display: flex;
      flex-direction: column;
      text-align: left;
    }
  .contacto, .Redes-Sociales, .Terminos, .Derechos{
    width: 100%;
    padding-left: 5px;
  }
  }
