body{
  font-family: dancing script;
}
#contenido{
  width: 900px;
  margin: 0 auto;
   min-height: 96.81px;
}

header{
  background: #5b7989;
  border-radius: 10px 10px 0 0;
  text-shadow: 2px 2px #02010a;
  padding: 15px 0;
  display: flex;
  flex-flow: row wrap;
  color: white;
}
#tituloCabecera{
  width: 70%;
  text-indent: 15px;
}
#menuCabecera{
  padding-top:25px;
  width: 30%;
  font-size: 18pt;
}
#menuCabecera a{
  color:white;
}

#menuCabecera .actual{
  text-decoration: none;
}
#menuCabecera .paisajes{
  text-decoration: none;
}
#menuCabecera .retratos{
  text-decoration: none;
}
#principal {
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: center;
  align-content: stretch;
  background-color: #d5c75f;
  height: 340px;
  text-align: center;
}

  img{
    width: 70%;

  }
  #footer{
    background-color: #c6d5c5;
    box-sizing: content-box;
    border-radius: 0 0 10px 10px;
    color: black;
    text-decoration: none;
  }
  .icono{
    width: 10%;
    border-radius: 60%;
  }
  table{
    width: 100%;
  }
