@media (max-width:900px){
  footer{
    display: flex;
    flex-direction: column;
    text-align: left;
  }
.contacto, .Redes-Sociales, .Terminos, .Derechos{
  width: 100%;
  padding-left: 5px;
}
}
@media (max-width:900px){
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #tituloCabecera{
    width: 100%;
    text-align: center;
  }
  #menuCabecera{
    width: 100%;
    text-align: center;
  }
#principal{
  display: flex;
  height: 1200px;
  box-sizing: border-box;
  flex-direction: column;
}
.columna1, .columna2, .columna3{
  width: 100%;
}
.foto1, .foto2, .foto3, .foto4, .foto5, .foto6{
  width: 90%;
  display: flex;
  flex-grow: 33.33%;
  flex-direction: column;
  justify-content: center;
  box-sizing: content-box;
}
}
